<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>

<body>
    <h3>Car Recommendation </h3>
    <form action="results.html" method="GET">
        Name : <input type="text" name="Name" />
        <br />
        <p> </p>
        Company: <input type="text" name="Company" />
        <br />
        <p> </p>
        Starting Price: <input type="text" name="price_starting" />
        <br />
        <p> </p>
        TopEnd Price: <input type="text" name="price_topend" />
        <br />
        <p> </p>
        Mileage: <input type="text" name="mileage_l" />
        <br />
        <p> </p>
        Mileage: <input type="text" name="mileage_u" />
        <br />
        <p> </p>
        Seating Capacity: <input type="text" name="seating_capacity" />
        <br />
        <p> </p>

        Transmission:<input type="checkbox" name="manual" /> Manual
        <input type="checkbox" name="automatic" /> Automatic
        </br>
        <p> </p>
        Fuel:<input type="checkbox" name="petrol" /> Petrol
        <input type="checkbox" name="diesel" /> Diesel
        <input type="checkbox" name="cng" /> CNG
        <input type="checkbox" name="electric" /> Electric
        </br>
        <p> </p>


        <input type="submit" name="submit" value="Submit" />

    </form>
</body>

</html>
